<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="http://phonegap.com/ns/1.0" 
		id="com.visioglobe.demovisioweb" 
		versionCode="10" 
		version="1.0.0" >
		
    <!-- versionCode is optional and Android only -->
    <name>DemoVisioWeb WP</name>
    
    <description>
    	Application that demonstrates Visioglobe's VisioWeb technology
    </description>
    
    <author href="www.visioglobe.com" email="support@visioglobe.com">
    	Visioglobe
    </author>
    
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
    
    <preference name="permissions"                value="none"/>
    
	<preference name="phonegap-version"           value="3.5.0" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    
    
    <!-- Plugins -->

    <!-- Core plugins - ->
    <gap:plugin name="org.apache.cordova.battery-status" />
    <!--gap:plugin name="org.apache.cordova.camera" /-->
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <!--gap:plugin name="org.apache.cordova.contacts" /-->
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" /-->    
    
    
    <!-- Android -->
	<preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="loglevel" value="DEBUG" />
    <preference name="AndroidLaunchMode" value="singleTop" />
    <preference name="BackgroundColor" value="0xffffffff" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="ErrorUrl" value="" />
    <preference name="KeepRunning" value="true" />
    <preference name="monaca:WebViewEngine" value="default" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="monaca:DisableCookie" value="false" />
    
    <feature name="App">
        <param name="android-package" value="org.apache.cordova.App" />
    </feature>
    
    
    <!-- iOS -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value=".25" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
    
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    
    <preference name="monaca:targetFamilyiPhone" value="1" />
    <preference name="monaca:targetFamilyiPad" value="1" />
    <preference name="monaca:DisableCookie" value="false" />
    
    
    <!-- Windows Phone -->
    <icon src="www/images/Icon.png" gap:platform="winphone" />
</widget>